<html ng-app="App4">
<head>
	<title>app4</title>
</head>
<body ng-controller="MainCtrl">

	<div ng-repeat="smurf in smurfs">
		{{smurf}}
	</div>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html>

<!-- 9 <html ng-app="App4">
<head>
	<title>app3</title>
</head>
<body ng-controller="MainCtrl">

	<div ng-repeat="p in planets">
	{{p}}</div>



	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 8 <html ng-app="App4">
<head>
	<title>app4</title>
</head>
<body ng-controller="MainCtrl">

	<div ng-repeat="planet in planets"> 
		{{planet}}
	</div>

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html>
 -->
<!-- 7 <html ng-app="App4">
<head>
	<title>app4</title>
</head>
<body ng-controller="MainCtrl">

    <div ng-repeat="smurf in smurfs">
    	{{smurf}}
    </div>

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 6 <html ng-app="App4">
<head>
	<title>app4</title>
</head>
<body ng-controller="MainCtrl">
  
  <div ng-repeat="planet in planets">
		{{planet}}
    </div>	    
	    

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 5 <html ng-app="App4">
<head>
	<title>app4</title>
</head>
<body ng-controller="MainCtrl">

	<div ng-repeat="planet in planets">
		{{planet}}
	</div>


	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 4 <html ng-app="App4">
<head>
	<title>app4</title>

</head>
<body ng-controller="MainCtrl">
    <div ng-repeat="s in smurf">
	{{s}}

	    
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 3 <html ng-app="App4">
<head>
	<title>app4</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">

	<div ng-repeat="p in poke">
		{{p}}
	</div>


	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 2 <html ng-app="App4">
<head>
	<title>app4</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
	<h1>SWAPI</h1>

	<div ng-repeat="planet in planets">
		{{planet}}
    </div>	    

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->

<!-- 1 <html ng-app="App4">
<head>
  <link rel="stylesheet" href="style.css">
</head>
	<body ng-controller="MainCtrl">
		<h1>{{SWAPI}}</h1>

		<div ng-repeat="planet in planets">
           {{planet}}
		</div>


		
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html> -->