<!-- 6 <html ng-app="App1">
<head>
	<title>app1</title>
	<link rel="stylesheet" href="style.css">

</head>
<body ng-controller="MainCtrl">
    <div>{{textbox}}</div>
	<input type="text" ng-model="textbox">
	<input type="date" ng-model="dateBox">
	<dvi>{{dateBox}}</div>

        

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html>

 -->

<!-- 5 <html ng-app="App1">
<head>
	<title>app1</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
	<h1>{{headline}}</h1>
	<br>
	<br>
	<br>
	<input type="text" placeholder="type here" ng-model="textBox">
	<br>
	<div>{{textBox}}</div>
	<br>
	<input type="text" placeholder="your thoughts" ng-model="thoughtBox">
	<br>
	<div>{{thoughtBox}}</div>

        

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->


<!-- 4 <html ng-app="App1">
<head>
	<title>app1</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
    <h1>{{headline}}</h1>
    <br>
    <br>
    <br>
	  <input type="text" placeholder="Type here" ng-model="textBox">
	  
	  <div>{{textBox}}</div>
	  <br>
	  <input type="checkbox" ng-model="checkBox">
	  
	  <div>{{checkBox}}</div>
	    




	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->















<!-- 3 <html ng-app="App1">
<head>
	<title>headline</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
	 <h1>{{headline}}</h1>

	<input type="text" placeholder="Come on now.." ng-model="textBox">
	<div>{{textBox}}</div>
	<br>
	<input type="date" ng-model="dateBox">
	<div>{{dateBox}}</div>
    




        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html> -->











<!-- 2 <html ng-app="App1">
<head>
	<title>timeline</title>
	<link rel="stylesheet" href="style.css">

</head>
<body ng-controller="MainCtrl">
	<h1><em>{{headline}}</em></h1>
	<br>
	<input type="text" placeholder="Tell Me.." ng-model="textBox">
	<div>{{textBox}}</div>
	<br>
	<input type="date" ng-model="dateBox">
	<div>{{dateBox}}</div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
</body>
</html>
 -->


<!-- 1 <html ng-app="app1">
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
	<body ng-controller="MainCtrl">
      <h1>{{headline}}</h1>
        
		<input type="text" placeholder="What do you think?" ng-model="textBox">
        <div>{{textBox}}</div>
        <br>
        <input type="date" placeholder="What is the date?" ng-model="dateBox">
        <div>{{dateBox}}</div>

	   	

	    </div>
		
	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html> -->